<h1>2359 Media Quiz Invitation</h1>

<p>
  You have been invited to a quiz by 2359 Media.
</p>

<p>
  A new account has been created for you and the following are your login details:
</p>

<p>
  Login: <%= @email %>
  <br>
  Password: <%= @password %>
</p>

<p>
  Click <a href="http://192.168.1.104:3000">here</a> to login.
</p>
