2359 Media Quiz Invitation

You have been invited to a quiz by 2359 Media.

A new account has been created for you and the following are your login details:

Login: <%= @email %>
Password: <%= @password %>

Click <a href="http://192.168.1.104:3000">here</a> to login.
