<h2>
  <%= @user.name %>
</h2>
<p>
  <%= @user.email %>
</p>
<p>
  Admin: <%= @user.admin? %>
</p>
<p>
  Examiner: <%= @user.examiner? %>
</p>
<% if @user.examiner? %>
  <div class='col-md-3'>
      View all tests
  </div>
  <div class='col-md-3'>
      Create a new test
  </div>
<% end %>
