<li id="invitation-<%= invitation.id %>">
  <span class="test"><%= link_to invitation.test.name, invitation.test %></span>
  <span class="description"><%= test.description %></span>
  <span class="timestamp">
    Invited <%= time_ago_in_words(invitation.created_at) %> ago.
  </span>
</li>
